*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	text-align:justify;
}

body{
	font:15px/1.4em sans-serif;
	margin:0;
	padding:0;
	background-color:#363062;
}

.body .background{
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100%;
    background-image: url("background.jpg");
    background-position:center;
    background-repeat:no-repeat;
   	background-size:cover;
   	background-attachment:fixed;
    opacity: 0.1;
}
.header{
	display:flex;
	flex-direction:row;
	padding:20px 50px 20px 50px;
	background:white;
	position:fixed;
	top:0%;
	width:100%;
	overflow:hidden;
}

.header .logo{
    font-family: 'Amatic SC', cursive;
    font-size:1rem;
	flex-grow:1;
    padding:10px;
}

.navigation{
		flex-grow:1;
		display:flex;
		flex-direction:row;
		padding:10px;
}

.navigation div{
	flex-grow:1;
	display:flex;
	flex-direction:row;
	justify-content:center;
}

.navigation div a{
	text-decoration:none;
	color:#121212;
}

.middle{
    margin-top:100px;
	display:flex;
	flex-direction:row;
	justify-content:center;
}

.middle .insert,.middle .update{
    margin:50px;
}

.middle .insert form input , .middle .update form input{
    outline-width: 0;
    border:none;
    border-radius: 20px;
    padding: 15px 8px 15px 8px;
    width : 400px;
    margin-top:30px;
}

.middle .retrieve{
    margin:50px;
}

.middle .retrieve form input{
   outline-width: 0;
   border:none;
   border-radius: 20px;
   padding: 15px 8px 15px 8px;
   width : 400px;
   margin-top:30px;
}

.middle .retrieve .retrieveAll{
    text-align:center;
}

.middle .retrieveAll form input{
    color:white;
    text-align:center;
    background:none;
}

/*
    style for table data..
    retrieve data
*/
.tableContent{
    margin-top:100px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    width='100%';

}

.tableContent table{
    border:none;
    color:white;
}

.content-table-client,.content-table-employee{
    border-collapse : collapse;
    margin:25px 0;
    font-size:0.9em;
    min-width: 400px;
}

.content-table-employee thead tr,.content-table-client thead tr{

    color:white;
    text-align:left;
    font-weight: bold;

}

.content-table-client th,.content-table-client td{
    padding:20px 100px;
}

.content-table-client tbody tr,.content-table-employee tbody tr{
   border-bottom: 1px solid #dddddd;

}

.content-table-client tbody tr:nth-of-type(even){
    background-color:#f3f3f3;
    color:black;
}

.content-table-employee th,.content-table-employee td{
    padding:20px 40px;
}
.content-table-employee tbody tr:nth-of-type(even){
    background-color:#f3f3f3;
    color:black;
}

.content-table-employee tbody tr:nth-of-type(even) td a ,.content-table-client tbody tr:nth-of-type(even) td a{
    background-color: #f3f3f3;
    color: black;
    text-decoration: none;
}
.content-table-employee tbody tr:nth-of-type(odd) td a ,.content-table-client tbody tr:nth-of-type(odd) td a{
    color: white;
    text-decoration: none;
}
/*
    index.html  css
*/

.body-content{
    display:flex;
    flex-grow:1;
    flex-direction:row;
    justify-content:center;
    margin-top:15%;
}
.body .client{
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;

}
.body .client .img1 a{
    display:flex;
    align-items:center;
    justify-content:center;
}
.body .employee .img2 a{
    display:flex;
    align-items:center;
    justify-content:center;
}

.body .employee{
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
}
.body .client .img1 a img{
    width:50%;

}
.body .employee .img2 a img{
    width:50%;
}

.body-content .text{
    margin-top:30px;

}